<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SciScraper Report</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/zoom.css') }}">
    </head>
    <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SciScraper</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">New Search</a></li>
      </ul>


      </div><!--navbar-->
    </div><!--container-->

    </nav>

<div class="container">
    <div class="jumbotron">
    <h3>{{ searchtitle }}</h3>
        <br>
    <ul>
        <li><h5>Showing top (<b>{{nResults}}</b>) results</h5></li>
        <li><h5>Key concepts: {% for word, link in key_tuples %}
            <a href="{{ link }}" target="_blank">{{ word }} </a> {% endfor %} </h5></li>
    </ul>
        </div>


<div class="jumbotron">
{% for i in reportdict %}
    <h3 style="color:#000099"><a href="{{ reportdict[i].Link }}" target="_blank"><i>{{ reportdict[i].Title }} </i></a></h3>
    <br>
    <ul>
        <li>PMC: {{ i }} </li>
        <li>DOI: {{ reportdict[i]['DOI'] }} </li>
        <li>{{ reportdict[i]['Date'] }} </li>
        <li>{{ reportdict[i]['Authors'] }} </li>
    </ul>
    <br>
    <p style="line-height:2.5;font-size:17px">{{ reportdict[i]['Abstract'] }}</p>
    {% if reportdict[i]['Images'] %}
    <br>
          <div class="container">
    <p>Figures from article (hover to zoom):</p>
    <div class="row">
        <ul class="list-inline gallery">
    {% for j in reportdict[i]['Images'] %}
            <div class="col-lg-4 col-xs-6 thumbnail zoom"><img src="{{ j }}" alt=""></div>
    {% endfor %}
        </ul>
            </div>
          </div>
        {% endif %}
    <br>
    <br>
    <hr>
    <hr>
    <br>
        {% endfor %}
    </div>
    </div>

  </body>
</html>
